.vieri
{
  width: 500px;
  padding: 15px;
  margin: 15px;
  margin-right: 15px;
  float:left;
}
#eka{
  background-color: orange;
}
#toka{
  background-color: #FFCCCC;
}
#kolmas{
    background-color: #FFFF99;
}
#neljas{
    background-color: #B3FFB3;
}
#viides{
    background-color: #B3D1FF;
}
