.vieri
{
  width: 520px;
  height: 300px;
  padding: 20px;
  margin: 20px;
  margin-right: auto;
  float:left;
}
#yksi{
  background-color: orange;
  width: 600px;
  height: 240px;
}
#kaksi{
  background-color: green;
  width: 600px;
}
#kolme{
  background-color: yellow;
  width: 600px;
}
#nelja{
  background-color: blue;
  width: 600px;
  height: 200px;
}
#viisi{
  background-color: red;
  width: 600px;
  float: center;
  height: 200px;
}
