.vieri
{
  width: 520px;
  padding: 20px;
  margin: 20px;
  margin-right: 20px;
  float:left;
}
#yksi{
  background-color: orange;
}
#kaksi{
  background-color: red;
}
#kolme{
    background-color: green;
}
#nelja{
    background-color: yellow;
}
#viisi{
    background-color: blue;
}
